* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#root > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette_container {
  flex-grow: 0;
  width: 100%;
  height: 97%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.options_container {
  width: 100%;
  height: 3%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #000;
  border-bottom: 1px solid black;
}

.color-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  text-align: center;
}

.card-item-container {
  width: auto;
  min-width: 50%;
  height: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  flex-shrink: 0;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

.card_item {
  align-self: center;
  width: 100%;
  height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
}

.card_item:hover {
  cursor: grab;
}

.link_container {
  width: 100%;
  height:90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}

.link:hover {
  cursor: pointer;
  color: #555
}

.template {
  width: 30%;
  height: 80%;
  display: inline-block;
  text-align: left;
  resize: none;
  background-color: #333333;
  color: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  word-wrap: break-word;
  font-weight: normal;
  font-size: 1em;
  font-family: "Fira Code", monospace;
}

.add_button {
  width: 20%;
  height: 80%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 10em;
  box-sizing: border-box;
  border: none;
  background-color: #333333;
}

.add_button:hover {
  background-color: #FFFFFF;
  color: #333333;
  cursor: grab;
}

.picker {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 9;
}

.swatch {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.popover {
  z-index: 9;
  position: absolute;
  top: calc(2% + 2px);
  left: 0;
  border-radius: 15px;
  border: 7px solid white;
  /*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);*/
}

